In [ ]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

import tensorflow as tf
from tensorflow.keras import utils
from tensorflow.keras.datasets import mnist 
import seaborn as sns
from tensorflow.keras.initializers import RandomNormal
import numpy as np
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving hcc-data-complete-balanced.csv to hcc-data-complete-balanced.csv

In [ ]:
df=pd.read_csv('hcc-data-complete-balanced.csv')

In [ ]:
df.shape

(204, 50)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 50 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          204 non-null    int64
 1   Symptoms        204 non-null    int64
 2   Alcohol         204 non-null    int64
 3   HBsAg           204 non-null    int64
 4   HBeAg           204 non-null    int64
 5   HBcAb           204 non-null    int64
 6   HCVAb           204 non-null    int64
 7   Cirrhosis       204 non-null    int64
 8   Endemic         204 non-null    int64
 9   Smoking         204 non-null    int64
 10  Diabetes        204 non-null    int64
 11  Obesity         204 non-null    int64
 12  Hemochro        204 non-null    int64
 13  AHT             204 non-null    int64
 14  CRI             204 non-null    int64
 15  HIV             204 non-null    int64
 16  NASH            204 non-null    int64
 17  Varices         204 non-null    int64
 18  Spleno          204 non-null    int64
 19  PHT             204 non-null    int64
 20  PVT             204 non-null    int64
 21  Metastasis      204 non-null    int64
 22  Hallmark        204 non-null    int64
 23  Age             204 non-null    int64
 24  Grams_day       204 non-null    int64
 25  Packs_year      204 non-null    object
 26  PS              204 non-null    int64
 27  Encephalopathy  204 non-null    int64
 28  Ascites         204 non-null    int64
 29  INR             204 non-null    object
 30  AFP             204 non-null    object
 31  Hemoglobin      204 non-null    object
 32  MCV             204 non-null    object
 33  Leucocytes      204 non-null    object
 34  Platelets       204 non-null    object
 35  Albumin         204 non-null    object
 36  Total_Bil       204 non-null    object
 37  ALT             204 non-null    int64
 38  AST             204 non-null    int64
 39  GGT             204 non-null    int64
 40  ALP             204 non-null    int64
 41  TP              204 non-null    object
 42  Creatinine      204 non-null    object
 43  Nodule          204 non-null    int64
 44  Major_Dim       204 non-null    object
 45  Dir_Bil         204 non-null    object
 46  Iron            204 non-null    object
 47  Sat             204 non-null    object
 48  Ferritin        204 non-null    object
 49  Class           204 non-null    int64
dtypes: int64(34), object(16)
memory usage: 79.8+ KB

In [ ]:
df.describe()

           Gender    Symptoms     Alcohol  ...         ALP      Nodule      Class
count  204.000000  204.000000  204.000000  ...  204.000000  204.000000  204.00000
mean     0.794118    0.691176    0.720588  ...  221.176471    2.735294    0.50000
std      0.405340    0.463145    0.449814  ...  168.852570    1.735894    0.50123
min      0.000000    0.000000    0.000000  ...    1.000000    0.000000    0.00000
25%      1.000000    0.000000    0.000000  ...  109.750000    1.000000    0.00000
50%      1.000000    1.000000    1.000000  ...  168.000000    2.000000    0.50000
75%      1.000000    1.000000    1.000000  ...  277.250000    5.000000    1.00000
max      1.000000    1.000000    1.000000  ...  980.000000    5.000000    1.00000

[8 rows x 34 columns]

In [ ]:
df.head(25)

    Gender  Symptoms  Alcohol  HBsAg  HBeAg  ...  Dir_Bil   Iron  Sat  Ferritin  Class
0        1         0        1      0      0  ...      0,5   52,5   37       856      1
1        0         0        0      0      0  ...     0,85     32   10        18      1
2        1         0        1      1      0  ...      0,1     28    6        16      1
3        1         1        1      0      0  ...      0,2    131   78      1316      0
4        1         1        1      1      0  ...      0,1     59   15        22      1
5        1         0        1      0      0  ...      1,4     53   22       111      0
6        1         0        0      0      0  ...     2,19    171  126      1452      0
7        1         1        1      0      0  ...      1,3     42   25       706      0
8        1         1        1      0      0  ...      1,2     85   73       982      1
9        1         1        1      0      0  ...      0,7     37   11       173      1
10       1         0        1      0      0  ...      1,1    224   95       363      0
11       1         0        1      0      0  ...      0,3    144   41       277      1
12       1         0        1      0      0  ...      0,8     94   27        70      1
13       1         1        0      0      0  ...      0,2     82   24        80      1
14       1         0        1      0      0  ...      4,5    197   84       302      1
15       0         0        1      0      0  ...      1,3     25   13        60      1
16       1         0        1      0      0  ...      2,9    136   95       767      0
17       1         1        1      0      0  ...      3,8    187   58       443      1
18       1         1        1      0      0  ...      0,9    144   49       295      1
19       1         1        1      0      0  ...      1,6     67   34       774      0
20       1         0        1      0      0  ...      0,7  152,6   39      76,9      1
21       1         0        1      0      0  ...      0,2     87   26        84      1
22       1         1        1      0      0  ...      0,5    112   73      1001      0
23       1         1        1      0      0  ...      1,6     94   27        70      0
24       1         1        1      0      0  ...      0,7     40   12        57      0

[25 rows x 50 columns]

In [ ]:
df.isnull().sum()

Gender            0
Symptoms          0
Alcohol           0
HBsAg             0
HBeAg             0
HBcAb             0
HCVAb             0
Cirrhosis         0
Endemic           0
Smoking           0
Diabetes          0
Obesity           0
Hemochro          0
AHT               0
CRI               0
HIV               0
NASH              0
Varices           0
Spleno            0
PHT               0
PVT               0
Metastasis        0
Hallmark          0
Age               0
Grams_day         0
Packs_year        0
PS                0
Encephalopathy    0
Ascites           0
INR               0
AFP               0
Hemoglobin        0
MCV               0
Leucocytes        0
Platelets         0
Albumin           0
Total_Bil         0
ALT               0
AST               0
GGT               0
ALP               0
TP                0
Creatinine        0
Nodule            0
Major_Dim         0
Dir_Bil           0
Iron              0
Sat               0
Ferritin          0
Class             0
dtype: int64

In [ ]:
df['Packs_year'].value_counts()

0       96
67,5    11
30      11
40       9
1        7
60       6
50       5
15       3
32       3
8        3
10       3
25       3
20       3
23       3
48       2
7        2
3        2
4        2
80       2
47       2
57       1
19       1
27       1
33       1
46       1
7,5      1
18       1
13       1
44       1
78       1
43       1
49       1
16       1
71       1
5        1
232      1
17       1
28       1
37       1
52,5     1
12       1
34       1
56       1
2        1
34,5     1
510      1
Name: Packs_year, dtype: int64

In [ ]:
df['Packs_year_proc']=df['Packs_year']

In [ ]:
for i in range(0,len(df['Packs_year_proc'])):
  x=df['Packs_year_proc'][i]
  x = x.split(",", 1)
  x=x[0]
  df['Packs_year_proc'][i]=x

In [ ]:
df['Packs_year_proc']=df['Packs_year_proc'].astype(str).astype(int)

In [ ]:
df['Packs_year']=df['Packs_year_proc']

In [ ]:
df['INR'].value_counts()

1,33    8
1,2     8
1,24    6
1,25    6
1,09    5
       ..
2,07    1
1,1     1
4,82    1
0,97    1
2,09    1
Name: INR, Length: 95, dtype: int64

In [ ]:
df['INR1']=df['INR']
df['INR2']=df['INR']
for i in range(0,len(df['INR'])):
  x=df['INR'][i]
  x1 = x.split(",", 1)
  if(len(x1)==1):
      df['INR1'][i]=x1[0]
      df['INR2'][i]=0
  else:
    df['INR1'][i]=x1[0]
    df['INR2'][i]=x1[1]

In [ ]:
df['INR1']=df['INR1'].astype(str).astype(int)
df['INR2']=df['INR2'].astype(str).astype(int)

In [ ]:
df.drop(['Packs_year_proc', 'INR'], axis=1, inplace=True)

In [ ]:
df['AFP1']=df['AFP']
df['AFP2']=df['AFP']
for i in range(0,len(df['AFP'])):
  x=df['AFP'][i]
  x1 = x.split(",", 1)
  if(len(x1)==1):
      df['AFP1'][i]=x1[0]
      df['AFP2'][i]=0
  else:
    df['AFP1'][i]=x1[0]
    df['AFP2'][i]=x1[1]

In [ ]:
df.drop(['AFP'], axis=1, inplace=True)

In [ ]:
df['Hemoglobin1']=df['Hemoglobin']
df['Hemoglobin2']=df['Hemoglobin']
for i in range(0,len(df['Hemoglobin'])):
  x=df['Hemoglobin'][i]
  x1 = x.split(",", 1)
  if(len(x1)==1):
      df['Hemoglobin1'][i]=x1[0]
      df['Hemoglobin2'][i]=0
  else:
    df['Hemoglobin1'][i]=x1[0]
    df['Hemoglobin2'][i]=x1[1]

In [ ]:
df.drop(['Hemoglobin'], axis=1, inplace=True)

In [ ]:
df['Hemoglobin2']=df['Hemoglobin2'].astype(str).astype(int)

In [ ]:
df['Hemoglobin1']=df['Hemoglobin1'].astype(str).astype(int)
df['AFP1']=df['AFP1'].astype(str).astype(int)
df['AFP2']=df['AFP2'].astype(str).astype(int)

In [ ]:
df['MCV1']=df['MCV']
df['MCV2']=df['MCV']
for i in range(0,len(df['MCV'])):
  x=df['MCV'][i]
  x1 = x.split(",", 1)
  if(len(x1)==1):
      df['MCV1'][i]=x1[0]
      df['MCV2'][i]=0
  else:
    df['MCV1'][i]=x1[0]
    df['MCV2'][i]=x1[1]
df['MCV1']=df['MCV1'].astype(str).astype(int)
df['MCV2']=df['MCV2'].astype(str).astype(int)

In [ ]:
df.drop(['MCV'], axis=1, inplace=True)

In [ ]:
def explodeTup(colName):
  cn1=colName+'1'
  cn2=colName+'2'
  df[cn1]=df[colName]
  df[cn2]=df[colName]
  for i in range(0,len(df[colName])):
    x=df[colName][i]
    x1 = x.split(",", 1)
    if(len(x1)==1):
      df[cn1][i]=x1[0]
      df[cn2][i]=0
    else:
      df[cn1][i]=x1[0]
      df[cn2][i]=x1[1]
  df[cn1]=df[cn1].astype(str).astype(int)
  df[cn2]=df[cn2].astype(str).astype(int)

In [ ]:
explodeTup('Leucocytes')

In [ ]:
df.drop(['Leucocytes'], axis=1, inplace=True)

In [ ]:
explodeTup('Platelets')

In [ ]:
df.drop(['Platelets'], axis=1, inplace=True)

In [ ]:
explodeTup('Albumin')

In [ ]:
df.drop(['Albumin'], axis=1, inplace=True)

In [ ]:
explodeTup('Total_Bil')

In [ ]:
df.drop(['Total_Bil'], axis=1, inplace=True)

In [ ]:
explodeTup('TP')

In [ ]:
df.drop(['TP'], axis=1, inplace=True)

In [ ]:
explodeTup('Creatinine')

In [ ]:
df.drop(['Creatinine'], axis=1, inplace=True)

In [ ]:
explodeTup('Major_Dim')

In [ ]:
df.drop(['Major_Dim'], axis=1, inplace=True)

In [ ]:
explodeTup('Dir_Bil')

In [ ]:
df.drop(['Dir_Bil'], axis=1, inplace=True)

In [ ]:
explodeTup('Iron')

In [ ]:
df.drop(['Iron','Iron2'], axis=1, inplace=True)

In [ ]:
explodeTup('Sat')

In [ ]:
df.drop(['Sat','Sat2'], axis=1, inplace=True)

In [ ]:
explodeTup('Ferritin')

In [ ]:
df.drop(['Ferritin','Ferritin2'], axis=1, inplace=True)

In [ ]:
Y=df['Class']
X=df.drop(['Class'], axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [ ]:
X_train_normalized=preprocessing.normalize(X_train)

In [ ]:
X_train_normalized=pd.DataFrame(X_train_normalized,columns=X.columns)

In [ ]:
X_test_normalized=preprocessing.normalize(X_test)
X_test_normalized=pd.DataFrame(X_test_normalized,columns=X.columns)

In [ ]:
X_train_normalized.shape

(136, 61)

In [ ]:
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense, Activation

In [ ]:
model=Sequential()
model.add(Dense(64, activation='relu', input_dim=61))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
model.fit(X_train_normalized, y_train, epochs=200, verbose=False)
scores=model.evaluate(X_train_normalized, y_train, verbose=False)
print("Training Accuracy:%.2f%%\n"%(scores[1]*100))
scores=model.evaluate(X_test_normalized, y_test, verbose=False)
print("Testing Accuracy:%.2f%%\n"%(scores[1]*100))
model.summary()

Training Accuracy:81.62%

Testing Accuracy:70.59%

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                3968

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 16)                528

 dense_3 (Dense)             (None, 8)                 136

 dense_4 (Dense)             (None, 4)                 36

 dense_5 (Dense)             (None, 1)                 5

=================================================================
Total params: 6,753
Trainable params: 6,753
Non-trainable params: 0
_________________________________________________________________

In [ ]:
X_train, X_cv, y_train, y_cv = train_test_split(X_train_normalized, y_train, test_size=0.2, random_state=42)

In [ ]:
model=Sequential()
model.add(Dense(64, activation='relu', input_dim=61))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
epochs =[20,40,60,80,100,120,140,160,180,200]
train_accuraacy=[]
test_Accuracy=[]
for epoch in epochs:
  model.fit(X_train, y_train, epochs=epoch, verbose=False)
  scores=model.evaluate(X_train, y_train, verbose=False)
  train_accuraacy.append(scores[1]*100)
  scores1=model.evaluate(X_cv, y_cv, verbose=False)
  test_Accuracy.append(scores1[1]*100)

In [ ]:
train_accuraacy

[91.66666865348816,
 91.66666865348816,
 90.74074029922485,
 86.11111044883728,
 92.59259104728699,
 90.74074029922485,
 92.59259104728699,
 92.59259104728699,
 92.59259104728699,
 92.59259104728699]

In [ ]:
test_Accuracy

[75.0,
 67.85714030265808,
 75.0,
 71.42857313156128,
 71.42857313156128,
 75.0,
 71.42857313156128,
 71.42857313156128,
 71.42857313156128,
 71.42857313156128]

In [ ]:
from tensorflow.keras.layers import (BatchNormalization, SeparableConv2D, MaxPooling2D, Activation, Flatten, Dropout, Dense)

In [ ]:
model=Sequential()
model.add(Dense(64, activation='relu', input_dim=61))
model.add(Dense(32, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(4, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
model_batch.summary()

In [ ]:
model.fit(X_train_normalized, y_train, epochs=200, verbose=False)
scores=model.evaluate(X_train_normalized, y_train, verbose=False)
print("Training Accuracy:%.2f%%\n"%(scores[1]*100))
scores=model.evaluate(X_test_normalized, y_test, verbose=False)
print("Testing Accuracy:%.2f%%\n"%(scores[1]*100))
model.summary()

Training Accuracy:69.12%

Testing Accuracy:55.88%

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 64)                3968

 dense_19 (Dense)            (None, 32)                2080

 batch_normalization (BatchN  (None, 32)               128
 ormalization)

 dense_20 (Dense)            (None, 16)                528

 dense_21 (Dense)            (None, 8)                 136

 batch_normalization_1 (Batc  (None, 8)                32
 hNormalization)

 dense_22 (Dense)            (None, 4)                 36

 batch_normalization_2 (Batc  (None, 4)                16
 hNormalization)

 dense_23 (Dense)            (None, 1)                 5

=================================================================
Total params: 6,929
Trainable params: 6,841
Non-trainable params: 88
_________________________________________________________________

In [ ]:
model=Sequential()
model.add(Dense(64, activation='relu', input_dim=61))
model.add(Dense(32, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(16, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(8, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(4, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
model.fit(X_train_normalized, y_train, epochs=200, verbose=False)
scores=model.evaluate(X_train_normalized, y_train, verbose=False)
print("Training Accuracy:%.2f%%\n"%(scores[1]*100))
scores=model.evaluate(X_test_normalized, y_test, verbose=False)
print("Testing Accuracy:%.2f%%\n"%(scores[1]*100))
model.summary()

Training Accuracy:59.56%

Testing Accuracy:52.94%

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_26 (Dense)            (None, 64)                3968

 dense_27 (Dense)            (None, 32)                2080

 batch_normalization_4 (Batc  (None, 32)               128
 hNormalization)

 dropout (Dropout)           (None, 32)                0

 dense_28 (Dense)            (None, 16)                528

 dropout_1 (Dropout)         (None, 16)                0

 dense_29 (Dense)            (None, 8)                 136

 batch_normalization_5 (Batc  (None, 8)                32
 hNormalization)

 dropout_2 (Dropout)         (None, 8)                 0

 dense_30 (Dense)            (None, 4)                 36

 batch_normalization_6 (Batc  (None, 4)                16
 hNormalization)

 dropout_3 (Dropout)         (None, 4)                 0

 dense_31 (Dense)            (None, 1)                 5

=================================================================
Total params: 6,929
Trainable params: 6,841
Non-trainable params: 88
_________________________________________________________________

In [ ]:
model.fit(X_train_normalized, y_train, epochs=60, verbose=False)
scores=model.evaluate(X_train_normalized, y_train, verbose=False)
print("Training Accuracy:%.2f%%\n"%(scores[1]*100))
scores=model.evaluate(X_test_normalized, y_test, verbose=False)
print("Testing Accuracy:%.2f%%\n"%(scores[1]*100))
model.summary()

Training Accuracy:58.09%

Testing Accuracy:48.53%

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_26 (Dense)            (None, 64)                3968

 dense_27 (Dense)            (None, 32)                2080

 batch_normalization_4 (Batc  (None, 32)               128
 hNormalization)

 dropout (Dropout)           (None, 32)                0

 dense_28 (Dense)            (None, 16)                528

 dropout_1 (Dropout)         (None, 16)                0

 dense_29 (Dense)            (None, 8)                 136

 batch_normalization_5 (Batc  (None, 8)                32
 hNormalization)

 dropout_2 (Dropout)         (None, 8)                 0

 dense_30 (Dense)            (None, 4)                 36

 batch_normalization_6 (Batc  (None, 4)                16
 hNormalization)

 dropout_3 (Dropout)         (None, 4)                 0

 dense_31 (Dense)            (None, 1)                 5

=================================================================
Total params: 6,929
Trainable params: 6,841
Non-trainable params: 88
_________________________________________________________________

RELU activation function was used because it prevents vanishing gradients problem although this wouldn't be a problem in shaloow MLP's  moreover RELU is faster than sigmoid since the derivative computation is easeir less expensive in RELU compared to sigmoid .

Using ADAM optimizer was able to achieve highest performance 

Adding Batch Normalization the performance is decreasing and overfitting this can be seen decreasing after adding dropout 

The best results was observed using 4 hidden layers with 32,16,8,4 nodes and input layer with 64 nodes all with 'relu' activation function  output layer with sigmnoid activation optimising on binary crossentropy loss